<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City Manager</title>
</head>
<body>
    <h1>My City Bucket List</h1>
    <a href="/add-city">
        <button style="margin-bottom: 10px;" type="button">Add City</button>
    </a>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>City Name</th>
                <th>Country</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="city : ${cities}">
                <td th:text="${city.name}"></td>
                <td th:text="${city.country}"></td>
                <td th:text="${city.details}"></td>
                <td>
                    <a th:href="@{/edit-city/{id}(id=${city.id})}" style="text-decoration: none;">
                        <button type="button">Edit</button>
                    </a>
                    <a th:href="@{/delete-city/{id}(id=${city.id})}" style="text-decoration: none;">
                        <button type="button">Delete</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>